.footer {
  position: fixed;
  bottom: 0;
  left: 0; /* 변경: 왼쪽으로 정렬되도록 수정 */
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: right; /* 변경: 오른쪽 정렬되도록 수정 */
}

.footer-content {
  display: flex;
  justify-content: flex-end; /* 변경: 내용을 오른쪽으로 정렬되도록 수정 */
  align-items: center;
}
.footer-text {
    font-size: 14px;
    margin: 0;
    text-align: center; /* 텍스트를 가운데로 정렬 */
  }  
  .footer-content {
    display: flex;
    justify-content: center; /* 내용을 가운데로 정렬 */
    align-items: center;
  }
  